* @modelix/developers
/authorization/ @slisson
/bulk-model-sync-gradle/ @mhuster23
/bulk-model-sync-gradle-test/ @mhuster23
/bulk-model-sync-lib/ @mhuster23
/bulk-model-sync-solution/ @mhuster23
/light-model-client/ @slisson
/metamodel-export/ @slisson
/model-api/ @slisson
/model-api-gen/ @slisson
/model-api-gen-gradle/ @slisson
/model-api-gen-gradle-test/ @slisson
/model-api-gen-runtime/ @slisson
/model-client/ @slisson
/model-datastructure/ @slisson
/model-server/ @slisson
/model-server-api/ @slisson
/model-server-lib/ @slisson
/model-sync-lib/ @slisson
/modelql-client/ @slisson
/modelql-core/ @slisson
/modelql-html/ @slisson
/modelql-server/ @slisson
/modelql-typed/ @slisson
/modelql-untyped/ @slisson
/mps-model-adapters/ @slisson
/mps-model-server/ @slisson
/mps-model-server-plugin/ @slisson
/ts-model-api/ @slisson
/vue-model-api/ @odzhychko
