version: 2
registries:
  maven-central:
    type: maven-repository
    url: https://repo.maven.apache.org/maven2/
  maven-itemis:
    type: maven-repository
    url: https://artifacts.itemis.cloud/repository/maven-mps/
updates:
  - package-ecosystem: "gradle"
    open-pull-requests-limit: 20
    registries:
      - maven-central
      - maven-itemis
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      google-oauth:
        patterns:
          - "com.google.oauth-client*"
  - package-ecosystem: "docker"
    open-pull-requests-limit: 20
    directory: "/model-server"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: "daily"
  # We use the default versioning strategy for npm (increase for apps and widen for libraries),
  # so that clients are free to select an appropriate version from the allowed range, when they use one of the libraries.
  - package-ecosystem: "npm"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build(deps)"
      prefix-development: "build(deps)"
  - package-ecosystem: "npm"
    open-pull-requests-limit: 20
    directory: "/ts-model-api"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build(deps)"
      prefix-development: "build(deps)"
    groups:
      typescript-eslint:
        patterns:
          - "@typescript-eslint*"
  - package-ecosystem: "npm"
    open-pull-requests-limit: 20
    directory: "/vue-model-api"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build(deps)"
      prefix-development: "build(deps)"
    groups:
      typescript-eslint:
        patterns:
          - "@typescript-eslint*"
  - package-ecosystem: "npm"
    open-pull-requests-limit: 20
    directory: "/model-api-gen-gradle-test/typescript-generation"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build(deps)"
      prefix-development: "build(deps)"
  - package-ecosystem: "npm"
    open-pull-requests-limit: 20
    directory: "/model-api-gen-gradle-test/vue-integration"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build(deps)"
      prefix-development: "build(deps)"
  - package-ecosystem: "npm"
    open-pull-requests-limit: 20
    directory: "/model-client-js-test/model-client-connection"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build(deps)"
      prefix-development: "build(deps)"
  - package-ecosystem: "npm"
    open-pull-requests-limit: 20
    directory: "/model-server-openapi"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build(deps)"
      prefix-development: "build(deps)"
