.gradle/
**/build
/*/ignite/
.DS_Store
.gradletasknamecache
.idea/
*.iml
kotlin_gen
/version.txt
**/node_modules/
**/.ideaconfig
**/.mpsconfig
.kotlin

**/classes_gen/
**/source_gen/
**/source_gen.caches/
**/.mps-caches/
/.intellijPlatform/
bin/
