---
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-angular"]
        args: ["--config", "./commitlint.config.js"]
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.12.0
    hooks:
      - id: pretty-format-kotlin
        args:
          # IMPORTANT: keep in sync with the version configured in build.gradle.kts
          - --ktlint-version=0.50.0
          - --autofix
  - repo: https://github.com/pre-commit/mirrors-prettier
    # IMPORTANT: keep in sync with the version configured in `vue-model-api/package.json`
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^(vue-model-api)|(model-api-gen-gradle-test/vue-integration)|(model-client-js-test/model-client-connection)/
  - repo: https://github.com/pre-commit/mirrors-eslint
    # IMPORTANT: keep versions of hook and additional dependencies in sync with the versions configured in `vue-model-api/package.json`
    rev: v8.56.0
    hooks:
      - id: eslint
        additional_dependencies:
          - "eslint@8.56.0"
          - "eslint-config-prettier@9.1.0"
          - "@typescript-eslint/eslint-plugin@7.4.0"
          - "@typescript-eslint/parser@7.4.0"
        files: ^(vue-model-api)|(ts-model-api)/src/
        types: [ts]
