name: Build

on:
  push:
    branches:
      - 'main'
  pull_request: {}
  # allow manual execution just in case
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew --build-cache build detekt -PciBuild=true
      - name: Archive test report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-report
          path: |
            */build/test-results
            */build/reports
      # In theory, the upload action should take care of stripping the GitHub
      # runner workspace path from the file paths. But somehow that doesn't
      # work. So do it manually.
      - name: Relativize SARIF file paths
        run: |
          sed -i 's#${{ github.workspace }}/##' build/reports/detekt/*.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'build/reports/detekt/'
          category: detekt

  test-model-api-gen-gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
      - name: Assemble
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew --build-cache assemble publishToMavenLocal -PciBuild=true
      - name: Test Model API Generator Gradle Plugin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: model-api-gen-gradle-test/ci.sh

  test-bulk-model-sync-gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
      - name: Assemble
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew --build-cache assemble publishToMavenLocal -PciBuild=true
      - name: Test Bulk Model Sync Gradle Plugin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bulk-model-sync-gradle-test/ci.sh
