name: Dry-Run Release
on:
  pull_request:

jobs:
  lint-commits:
    name: Lint PR commits
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      # Use this action to run commitlint because pre-commit does not run it in CI.
      # pre-commit probably does not run commitlint in CI because pre-commit can only run it in the `commit-msg` stage.
      - uses: wagoid/commitlint-github-action@b948419dd99f3fd78a6548d48f94e3df7f6bf3ed # v6

  test-release:
    name: Dry-run semantic-release
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - name: Checkout branch
        # Pretend to semantic-release that the PR result is eligible for
        # building releases because --dry-run still filters for configured
        # branches.
        run: git checkout -b main
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: '.nvmrc'
      - name: Cache Node packages
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: node_modules
          key: release-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Dry-run release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        # We need to convince semantic-release to not pick up some
        # configuration from the CI environment by removing the variable that
        # is used for CI detection.
        run: unset GITHUB_ACTIONS && npx semantic-release --dry-run --ci false
