name: MPS compatibility

on:
  push:
    branches:
      - 'main'
  pull_request: {}
  # allow manual execution just in case
  workflow_dispatch:

jobs:
  build-mps-components:

    runs-on: ubuntu-24.04
    timeout-minutes: 60

    strategy:
      fail-fast: false
      matrix:
        version:
          - "2021.3"
          - "2022.2"
          - "2022.3"
          - "2023.2"
          - "2023.3"
          - "2024.1"

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: '.nvmrc'
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5
      - name: Build with ${{ matrix.version }}
        run: >-
          ./gradlew --build-cache
          :bulk-model-sync-mps:build
          :bulk-model-sync-lib:mps-test:build
          :metamodel-export:build
          :mps-model-adapters:build
          :mps-model-adapters-plugin:build
          :mps-sync-plugin3:build
          -Pmps.version.major=${{ matrix.version }}
      - name: Archive test report
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        if: always()
        with:
          name: test-report-${{ matrix.version }}
          path: |
            */build/test-results
            */build/reports
